{
    "extends": [
        "standard",
        "standard-jsx",
        "standard-react"
      ],
      "globals": {
        "fetch": true
      },
      "rules": {
        "no-unused-vars": "warn"
      }
}